/* Styles for PC version (unchanged) */
.dropbtn {
  background-color: #7b1113;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer; /* Change cursor to pointer when hovering over the button */
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Set a max-height and enable vertical scrolling for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 265px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 200px; /* Set the max height you want */
  overflow-y: auto; /* Enable vertical scrolling */
  transition: opacity 2s; /* Delay the scrollbar disappearance */

  /* Position the dropdown content right below the button */
  top: calc(100% + 5px); /* Adjusted to position below the button with a small gap */
  left: 50%;
  transform: translateX(-50%);
}

/* Hide the scrollbar for webkit-based browsers (Chrome, Safari) */
.dropdown-content::-webkit-scrollbar {
  width: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .dropbtn {
    padding: 12px;
    font-size: 14px;
	cursor: pointer; /* Change cursor to pointer when hovering over the button */
  }

  .dropdown-content {
    min-width: 240px;
    max-height: 150px;
    top: calc(100% + 2px);
	font-size: 14px;
  }

  /* Add more mobile-specific styles as needed */
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  body-size:contain;
}

.background {
  width: 300%;
  height: 300%;
  background-size: cover;
  overflow: hidden;
  background-image: url('Cosmos.jpg');
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;;
  top: -100%;
  left: -100%;
  rotate: 70deg;
  animation: rotateBackground 720s linear infinite;
  transform-origin: center center;
}

@keyframes rotateBackground {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-align: center;
}

.marquee-container {
  position: absolute;
  top: 100%;
  left: -50%;
  width: 200%;
  text-align: center;
  color: #ffffff;
  padding: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.marquee {
  animation: bounce 500s linear infinite;
  white-space: nowrap;
  display: inline-block;
  transform-origin: center;
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(25%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(0);
  }
}

.hintro {
	font-size: 24;
	text-align: center;	
}

  /* Add CSS for scrollable container */
    .scrollable-content {
      max-height: 300px; /* Set the maximum height to enable scrolling */
	  max-width: 3840px;
      overflow-y: scroll; /* Add a vertical scroll bar */
      scrollbar-width: none; /* Customize the scroll bar width */
      scrollbar-color: transparent transparent; /* Hide the scroll bar color */
	  background: rgba(0, 0, 0, 0.5);
	  padding-left: 7px;
	  padding-right: 7px;
      text-align: center;/* Justify the text within the container */
    }

    /* Customize the appearance of the custom scroll bar */
    .scrollable-content::-webkit-scrollbar {
      width: 8px; /* Set the width of the scroll bar */
    }

    .scrollable-content::-webkit-scrollbar-thumb {
      background-color: trasparent; /* Customize the scroll bar thumb color */
      border-radius: 4px; /* Round the edges of the scroll bar thumb */
    }

    .scrollable-content::-webkit-scrollbar-thumb:hover {
      background-color: transparent; /* Change the scroll bar thumb color on hover */
    }
.equation {
  background-color: rgba(0, 0, 0, 0.7); /* Black with some transparency */
  color: white; /* White text color */
  font-size: 24px; /* Adjust the font size as needed */
  padding: 20px; /* Add some padding for spacing */
  max-height: 240px; /* Set the maximum height to enable scrolling */
  max-width: 3840px;
  overflow-y: scroll; /* Add a vertical scroll bar */
  scrollbar-width: none; /* Customize the scroll bar width */
  scrollbar-color: transparent transparent; /* Hide the scroll bar color */
  background: rgba(0, 0, 0, 0.5);
  padding-left: 7px;
  text-align: center; /* Justify the text within the container */
}

/* Customize the appearance of the custom scroll bar */
.equation::-webkit-scrollbar {
  width: 8px; /* Set the width of the scroll bar */
}

.equation::-webkit-scrollbar-thumb {
  background-color: transparent; /* Customize the scroll bar thumb color */
  border-radius: 4px; /* Round the edges of the scroll bar thumb */
}

.equation::-webkit-scrollbar-thumb:hover {
  background-color: transparent; /* Change the scroll bar thumb color on hover */
}
.description {
	text-align: justify; /* Justify the text within the paragraph */
        }
@media (max-width: 768px) {

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  body-size: contain;
}

.background {
  width: 300%;
  height: 300%;
  background-size: cover;
  overflow: hidden;
  background-image: url('Cosmos.jpg');
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: -100%;
  left: -100%;
  rotate: 70deg;
  animation: rotateBackground 720s linear infinite;
  transform-origin: center center;
}

 /* Add CSS for scrollable container */
    .scrollable-content {
      max-height: 200px; /* Set the maximum height to enable scrolling */
	  max-width: 500px;
      overflow-y: scroll; /* Add a vertical scroll bar */
      scrollbar-width: none; /* Customize the scroll bar width */
      scrollbar-color: transparent transparent; /* Hide the scroll bar color */
	  background: rgba(0, 0, 0, 0.5);
	  padding-left: 7px;
	  padding-right: 4px;
      text-align: center;/* Justify the text within the container */
    }

    /* Customize the appearance of the custom scroll bar */
    .scrollable-content::-webkit-scrollbar {
      width: 8px; /* Set the width of the scroll bar */
    }

    .scrollable-content::-webkit-scrollbar-thumb {
      background-color: trasparent; /* Customize the scroll bar thumb color */
      border-radius: 4px; /* Round the edges of the scroll bar thumb */
    }

    .scrollable-content::-webkit-scrollbar-thumb:hover {
      background-color: transparent; /* Change the scroll bar thumb color on hover */
    }
.equation {
  background-color: rgba(0, 0, 0, 0.7); /* Black with some transparency */
  color: white; /* White text color */
  font-size: 12px; /* Adjust the font size as needed */
  padding: 20px; /* Add some padding for spacing */
  max-height: 200px; /* Set the maximum height to enable scrolling */
  max-width: 500px;
  overflow-y: scroll; /* Add a vertical scroll bar */
  scrollbar-width: none; /* Customize the scroll bar width */
  scrollbar-color: transparent transparent; /* Hide the scroll bar color */
  background: rgba(0, 0, 0, 0.5);
  padding-left: 7px;
  text-align: center; /* Justify the text within the container */
}

/* Customize the appearance of the custom scroll bar */
.equation::-webkit-scrollbar {
  width: 8px; /* Set the width of the scroll bar */
}

.equation::-webkit-scrollbar-thumb {
  background-color: transparent; /* Customize the scroll bar thumb color */
  border-radius: 4px; /* Round the edges of the scroll bar thumb */
}

.equation::-webkit-scrollbar-thumb:hover {
  background-color: transparent; /* Change the scroll bar thumb color on hover */
}
.description {
	text-align: justify; /* Justify the text within the paragraph */
	font-size: 12px;
}

.intro {
	text-align: center; /* Justify the text within the paragraph */
	font-size: 12px;
}
.quote {
	font-size: 12px;
}
.hintro {
	font-size: 16px;
	text-align: center;	
}

.marquee-container {
  position: absolute;
  top: 100%;
  left: -50%;
  width: 200%;
  text-align: center;
  color: #ffffff;
  padding: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.marquee {
  animation: bounce 500s linear infinite;
  white-space: nowrap;
  display: inline-block;
  transform-origin: center;
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(25%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(0);
  }
}

}
